@use './../../../../../sass/index.scss' as *;
form {
  display: flex;
  flex-direction: column;

  position: relative;
  .manager__modal--group {
    display: flex;
    flex-direction: column;
    & > img {
      width: 250px;
      height: 250px;
    }
    & > label {
      margin: 10px 0;
      & > span {
        padding: 10px;

        background: blue;

        color: white;

        cursor: pointer;

        border: none;
      }
    }
    & > input {
      height: 40px;

      border-radius: 7px;

      padding-left: 15px;
    }
  }
  .manager__modal--group--radio {
    display: flex;

    column-gap: 15px;

    margin: 10px 0;
  }
  .manager__modal--group--btn {
    margin-left: auto;

    margin-top: 15px;

    display: flex;

    column-gap: 10px;

    margin-right: 15px;

    & > button {
      padding: 10px;

      color: white;

      border: none;

      cursor: pointer;
    }
    & > button:first-child {
      background: red;
    }
    & > button:last-child {
      background: green;
    }
  }
}
.confirm.active__confirm {
  opacity: 1 !important;
  visibility: visible !important;

  transform: scale(1) !important;
}
.confirm {
  cursor: pointer;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 7777;
  opacity: 0;
  visibility: hidden;

  transform: scale(0);

  transition: 0.3s ease-in-out !important;

  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
  .confirm__swap {
    position: fixed;

    background: white;
    color: white;

    border-radius: 8px;

    display: flex;
    flex-direction: column;

    min-height: 200px;

    padding: 15px;

    bottom: auto;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include tablet {
      top: 0;
      bottom: 0;
      width: 100%;
    }
    .confirm__top {
      padding: 20px;

      border-bottom: 2px solid rgb(210, 205, 205);

      display: flex;
      justify-content: center;

      font-size: 16px;
      font-weight: 700;

      color: black;
    }

    .confirm__bottom {
      display: flex;
      justify-content: center;

      margin-top: 20px;

      column-gap: 10px;

      & > button {
        padding: 10px;

        cursor: pointer;

        border: none;

        color: white;
      }
      & > button:first-child {
        background-color: red;
      }
      & > button:last-child {
        background-color: green;
      }
    }
  }
}
