@use './../../../sass/' as *;

.description_glass {
  @include tablet {
    width: 80%;
    margin: auto;
  }
  //css woocommerce
  .woocommerce {
    background-color: #f7f6f7;
    color: #515151;
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    border-top: 3px solid #8fae1b;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    &_infor {
      flex: 1;
      line-height: 2rem;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;

      margin-right: 0.5rem;

      @include mobile {
        flex: 2;
      }

      & > svg {
        background-color: #8fae1b;
        color: white;
        border-radius: 50%;
        border: 1px solid #8fae1b;
        margin-right: 15px;
        font-size: 20px;
      }

      .woocommerce_message {
        flex: 1;
        & > span {
          margin-left: 5px;
        }
      }
    }
    &_btn {
      flex: 1;
      display: flex;
      @include mobile {
        padding-right: 1rem;
      }
      & > button {
        padding: 1rem;
        border: 2px solid white;
        // width: 90%;
        // margin: 0 auto;
        color: #828181;

        margin-left: auto;

        outline: none;
        cursor: pointer;

        background-color: transparent;
        &:hover {
          color: black;
        }
        @include tablet {
          width: 40%;
        }
      }
    }
  }
  .detail_glass {
    // margin-top: 2rem;
    width: 95%;
    // margin: auto;
    margin-bottom: 80px;
    margin: 2rem auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    &-left {
      @include tablets {
        flex: 1;
        //  width: ;
      }
      @include tablet {
        flex: 1;
      }
    }
    &-right {
      @include tablets {
        flex: 1;

        margin-left: 38px;
        margin-right: 10px;
      }
      @include tablet {
        flex: 1;
      }
    }
    @include tablets {
      display: flex;
      flex-direction: row;
    }
    @include tablet {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 30px;
    }
  }

  .choose {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    &_image {
      & > h2 {
        padding: 1rem;
      }
      & > img {
        border: 1px dotted rgb(219, 219, 223);
        width: 85px;
        height: 85px;
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }

  .evaluate {
    margin-bottom: 110px;
    display: flex;
    margin: auto;
    justify-content: center;
    margin-bottom: 2rem;
    &_title {
      font-size: 18px;
      padding: 2rem 2rem 0rem 2rem;
      // background: red;
      position: relative;
      margin-left: 50px;
      @include tablets {
        padding: 2rem 2rem 0rem 1rem;
      }
      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: -2%;
        margin-top: -10px;
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent;

        border-left: 20px solid gray;
      }
    }
    &_content {
      font-size: 14px;
      padding: 2rem;

      & > p {
        text-align: justify;
        margin-bottom: 1rem;
      }
      &-image {
        width: 80%;
        margin: auto;
        margin-bottom: 1rem;
      }
      &-info {
        margin-bottom: 2rem;
        & > ul {
          text-align: justify;
        }
      }
    }
  }
  &-title {
    padding: 1.2rem;
    background-color: whitesmoke;
    width: 100%;
    // margin-bottom: 2rem;
    font-size: 13px;
    line-height: 1.4;
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
  }

  .related_glass {
    width: 95%;
    margin: auto;
    & > h2 {
      text-align: center;
      font-size: 35px;
      font-weight: 400;
      color: #000;
      margin-bottom: 80px;
    }
    .slider {
      width: 100%;
      display: flex;
      .slick-list {
        & > button {
          display: none;
        }
        // &.slick-next{
        //     display: none;

        // }
      }
    }
    .content {
      display: flex;
      flex-direction: column;

      .content__top {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding: 1.5rem;

        &-name {
          margin-top: auto;
          text-align: center;

          font-size: 13px;
          // padding: 0 0 1.5rem 0;
          width: 100%; // chiều rộng bằng khối bao nó
          white-space: pre-wrap;
          overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
          text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
          -webkit-line-clamp: 2; // số dòng muốn hiển thị
          -webkit-box-orient: vertical;
          display: -webkit-box;
          height: 50px;
          @include mobile {
            height: 60px;
          }
          @include tablets {
            width: 100%; // chiều rộng bằng khối bao nó
            white-space: pre-wrap;
            overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
            text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
            -webkit-line-clamp: 1; // số dòng muốn hiển thị
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }

          @include tablet {
            height: 45px;
            width: 100%; // chiều rộng bằng khối bao nó
            white-space: pre-wrap;
            //  overflow: ; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
            text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
            -webkit-line-clamp: 2; // số dòng muốn hiển thị
            -webkit-box-orient: vertical;
            display: -webkit-box;
          }
        }
      }
      .content__bottom {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 60px;

        //    @include mobile{
        //     padding: 0rem 2rem ;
        //    }
        @include tablet {
          display: flex;
          flex-direction: column;
          flex: 1;
          padding: 1.5rem;
        }
        &-prices {
          padding: 0 2rem;
          text-align: center;
          display: flex;
          justify-content: center;
          //    @include mobile{
          //     display: inline-flex;
          //     justify-content:flex-start;

          //    }
          @include tablet {
            margin-top: auto;
          }

          .content__bottom-prices-price {
            color: #f94c43;
            font-weight: bold;
            font-size: 14px;
            text-decoration: underline;
          }
          .content__bottom-prices-discount {
            margin-left: 1rem;
            font-size: 13px;
            display: flex;
            flex-wrap: wrap;
            & > div:first-child {
              color: #939393;
              text-decoration: line-through;
            }
            & > div:last-child {
              text-decoration: none;
              display: inline-flex;
              margin-left: 5px;
              font-size: 11px;
              margin-bottom: 2rem;
            }
          }
        }
      }
    }
  }
}
