// .MuiOutlinedInput-input {
 
//    font-family:"Montserrat",sans-serif;

// }
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
   font-family:"Montserrat",sans-serif !important;
   font-size: 13px !important;
   font-weight: 600 !important ;
   color: black !important;
}
.MuiInputLabel-root{
   font-size: 12px !important;
    font-weight: 600 !important;
    
}