@use './../../../sass/index.scss' as *;
.filterTotal {
  display: flex;
  flex-direction: column;

  & > span {
    font-size: 20px;
    font-weight: 700;

    margin-bottom: 10px;
  }
  & > select {
    width: 100%;

    height: 45px;

    border-radius: 5px;

    border: 1px solid rgb(235, 232, 232);

    @include tablets {
      width: 150px;

      height: 30px;
    }
  }
}
