@use './../../../sass/index.scss' as *;
.products {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;

  &::-webkit-scrollbar {
    display: none;
  }
  .products_newProduct-swapper {
    display: flex;
    flex-direction: column;

    row-gap: 30px;

    column-gap: 20px;

    @include tablets {
      flex-direction: row;
    }

    .products_newProduct-left {
      min-width: 250px;

      .Filter-title {
        font-size: 14px;
      }
      .Filter {
        box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);

        padding: 15px;
      }
    }

    .products_newProduct-right {
      flex: 1;

      @include tablets {
        margin-right: 10px;
      }

      .products_newProduct-title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;

        & > span {
          font-size: 14px;
          font-weight: 600;
        }
      }

      .product_newProduct-search {
        margin-bottom: 20px;
      }
    }
  }
  &_newProduct {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: 50px;
    margin-bottom: 30px;

    flex-direction: column;

    row-gap: 20px;

    @include tablets {
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
    }
    .product_topbag {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      font-size: 14px;

      & > span {
        font-size: 20px;

        padding-right: 20px;

        margin-right: 20px;

        border-right: 2px solid gray;
      }

      .products_topbag-block {
        display: flex;
        align-items: center;

        column-gap: 5px;

        & > svg:first-child {
          font-size: 20px;
        }
        .active__topbbag {
          color: #9287e6;
        }
      }
    }

    & > button {
      border: none;
      border-radius: 8px;

      color: white;

      cursor: pointer;

      padding: 10px 25px;

      font-size: 16px;

      background: rgb(16, 164, 117);

      display: flex;
      align-items: center;

      column-gap: 10px;

      &:hover {
        opacity: 0.8;
      }

      & > svg {
      }
    }
  }
  .product_title {
    display: flex;

    border: 1px solid gray;

    font-size: 15px;
    font-weight: 700;

    background: white;

    &_left {
      flex: 2;
      display: flex;

      @include tablets {
        flex: 1;
      }
      & > span {
        flex: 1;

        display: flex;
        justify-content: center;

        position: relative;
      }
    }
    &_right {
      flex: 1;

      display: flex;

      border-left: 1px solid gray;

      @include tablet {
        border-left: none;
      }

      & > span {
        flex: 1;

        display: flex;
        justify-content: center;

        position: relative;

        &::before {
          @include tablet {
            position: absolute;
            content: '';
            width: 2px;
            height: 100%;
            background: gray;

            left: 30%;
          }
        }
      }
    }
  }
  &_list {
    display: flex;
    flex-direction: column;

    border: 1px solid gray;

    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);

    .products_item:not(:last-child) {
      border-bottom: 1px solid gray;
    }
    .products_item {
      display: flex;
      align-items: center;

      margin-bottom: 15px;

      font-size: 13px;

      padding: 10px;

      .products_left {
        flex: 2;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        column-gap: 10px;

        @include tablets {
          flex: 1;

          flex-direction: row;
        }
        .products_name {
          font-weight: 600;
        }
        .products_id,
        .products_name {
          flex: 1;

          display: flex;
          justify-content: center;
        }

        .products_adside {
          & > img {
            max-height: 100px;
            max-width: 100px;

            border: 1px solid rgb(240, 235, 235);

            border-radius: 10px;
          }
        }
      }

      .products_right {
        flex: 1;

        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;

        margin-bottom: auto;

        row-gap: 50px;

        @include tablets {
          flex-direction: row;
        }

        .product_price,
        .product_group-btn {
          flex: 1;
        }
      }

      .product_price {
        display: flex;
        justify-content: center;

        font-weight: 600;
        font-size: 16px;

        color: red;
      }

      .product_group-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        column-gap: 15px;
        & > button {
          color: white;
          background: rgb(42, 171, 42);

          border-radius: 10px;
          border: none;

          padding: 15px 20px;

          font-size: 13px;

          cursor: pointer;
        }
        & > svg {
          color: red;
          font-size: 25px;
        }
      }
    }
  }
  .products_pagition {
    display: flex;
    justify-content: flex-end;

    margin-top: 20px;
    font-size: 14px !important;

    margin-bottom: 50px;

    .MuiButtonBase-root {
      font-size: 15px !important;
      font-weight: 700 !important;

      opacity: 1 !important;

      & > svg {
        font-size: 25px !important;
      }
    }
  }
}
