@use './../../sass/' as *;
.none {
  display: none;

  @include mobile {
    display: flex;
    align-items: center;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  background-color: $white;
  color: $black;

  width: 100%;
  height: 70px;

  margin-bottom: 45px;

  @include mobile {
    margin-bottom: 1.5rem;
  }
  .mobile {
    position: fixed;

    background: whitesmoke;

    left: 0;
    bottom: 0;
    right: 0;

    z-index: 5;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    @include mobile {
      display: none;
    }
  }
  .menu {
    cursor: pointer;
    position: absolute;

    top: -180%;
    width: 100px;
    right: 0;
    z-index: 4;

    text-align: center;

    box-shadow: $box-shadow;
    background: white;
    @include mobile {
      top: 80%;
      right: 100px;
      width: 100px;

      box-shadow: $box-shadow;
    }
    & > li {
      position: relative;
    }
  }
  &-left {
    line-height: 70px;
    margin-left: 30px;
    // display: flex;
    // align-items: center;
    width: 50px;
    height: 50px;
    margin-top: 15px;
    @include tablets {
      margin-top: 15px;
      line-height: 80px;
      margin-left: 30px;
      width: 80px;
      height: 80px;
    }
    & > img {
      height: 100%;
    }
  }
  &-right {
    margin-right: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    & > svg {
      margin-left: 10px;
      font-size: 25px;
    }
    .account {
      position: relative;

      cursor: pointer;
      font-size: 15px;
    }
    .account_list {
      position: absolute;

      display: flex;
      justify-content: flex-start;
      /* background: black; */

      background: black;

      z-index: 3;
      &::before {
        content: '';

        position: absolute;
        left: 0;
        width: 50px;
        background-color: black;
        -webkit-clip-path: polygon(50% 0%, 25% 42%, 69% 44%);
        clip-path: polygon(44% 0, 28% 36%, 60% 36%);
        height: 50px;
        top: 0;
        margin-top: -10px;
        display: flex;
        justify-content: center;
      }
      &:hover {
        background: darkmagenta;
      }
      &:hover:before {
        background: darkmagenta;
      }
      & > li {
        font-size: 16px;
        font-weight: 600;
        margin-left: 10px;

        color: white;

        padding: 1rem 1rem 1rem 0rem;
      }
    }
    .header-right_icon {
      @include mobile {
        display: none;
      }
    }
  }

  &-mid {
    position: absolute;

    top: 100%;
    width: 100%;
    left: 50%;

    /* display: flex; */
    // width: 70%;
    /* z-index: -1; */
    /* margin: auto; */
    /* justify-content: center; */
    transform: translateX(-50%);

    padding: 0.5rem;

    border-top: 2px solid rgb(241, 238, 238);
    @include mobile {
      width: 50%;
      border: none;
    }
    @include tablets {
      width: 70%;
    }
    & > form {
      display: flex;
      justify-content: center;
      
      width: 100%;
      // align-items: flex-start;
      & > input {
        width: 100%;
        height: 30px;

        outline: none;
        border: none;

        background: #f5f5f5;
        // position: absolute;
        // box-shadow: rgba(54, 56, 57, 0.2) 0px 8px 24px;
        @include mobile {
          width: 100%;

          height: 50px;
          left: 20%;
        }
        @include tablets {
          width: 70%;

          height: 50px;
          left: 20%;
        }
      }
      & > button {
        border: none;
        background: #f5f5f5;
        cursor: pointer;
        @include mobile {
          transform: translateX(-50px);
        }
        & > svg {
          // position: absolute;
          top: 17%;

          right: 0px;
          display: flex;
          align-items: center;
          font-size: x-large;
          opacity: 0.5;
          // @include mobile {
          //   display: none;
          // }
        }
      }
    }

    @include mobile {
      top: 25%;
      margin-top: 0;
    }
  }
}
.actives_header {
  height: 50px;
  // transition: 2s ease-in;
}
.activeNav {
  // transition: 2s ease-in;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background: white;
  z-index: 7;
  // border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: drowp 0.4s linear;
  // transition: 2s ease-in;
  @keyframes drowp {
    from {
      height: 0px;
    }
    to {
      height: 50px;
    }
  }
}
.activeHeader {
  @include mobile {
    top: 0;
  }
}
.icon_quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  right: 15px;

  width: 12px;
  height: 12px;
  font-size: 9px;

  position: absolute;
  border-radius: 50%;
  background: red;
  color: white;
  top: 0;
}

.active_image {
  line-height: 70px;
  margin-left: 30px;
  // display: flex;
  // align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
