@use './../../sass/' as *;
.none {
  display: none;

  @include mobile {
    display: flex;
    align-items: center;
  }
}
.home {
  // position: relative;

  background-color: $white;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;

  // background-color: $white;
  color: $black;

  width: 100%;
  height: 70px;

  margin-bottom: 45px;

  @include mobile {
    margin-bottom: 1rem;
  }
  .mobile {
    position: fixed;

    background: whitesmoke;

    left: 0;
    bottom: 0;
    right: 0;

    z-index: 5;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    @include mobile {
      display: none;
    }
    .mobile_tab {
      & > img {
        height: 30px;
        width: 30px;

        border-radius: 50%;

        margin-right: 10px;

        object-fit: cover;
      }
    }
  }
  .menu {
    cursor: pointer;
    position: absolute;

    top: -200%;
    width: 100%;
    right: 0;
    z-index: 4;

    text-align: center;

    box-shadow: $box-shadow;
    background: white;
    @include mobile {
      top: 80%;
      right: 100px;
      width: 100px;

      box-shadow: $box-shadow;
    }
    & > li {
      position: relative;
      padding: 10px;
      font-size: 13px;

      &:hover {
        background: rgb(214, 212, 212);

        color: white;
      }
    }
  }
}
.actives_header {
  height: 50px;
  // transition:2ss ease-in;
  // transition: 2s ease-in;
}
.activeNav {
  // transition: 2s ease-in;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  background: white;
  z-index: 7;
  // border-bottom: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  animation: drowp 0.4s linear;
  // transition: 2s ease-in;
  @keyframes drowp {
    from {
      height: 0px;
    }
    to {
      height: 50px;
    }
  }
}
.activeHeader {
  @include mobile {
    top: 0;
  }
}
.icon_quantity {
  display: flex;
  justify-content: center;
  align-items: center;

  right: 15px;

  width: 12px;
  height: 12px;
  font-size: 9px;

  position: absolute;
  border-radius: 50%;
  background: red;
  color: white;
  top: 0;
}

.active_image {
  line-height: 70px;
  margin-left: 30px;
  // display: flex;
  // align-items: center;
  width: 50px;
  height: 50px;
  margin-top: 15px;
}
