@use '../../../../sass/' as *;
// .ss{
//   position: fixed;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: red;

// }
.menulist {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: -100%;
  z-index: 2;
  bottom: 0;
  top: 0;
  // transition: all 300ms linear;
  // @include tablet{
  //   margin-bottom: 100px;
  // }

  // &.actives{
  //     display: none;
  // }

  @include mobile {
    border-top: 1px solid rgb(241, 235, 235);
  }
  & > h3 {
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 550;

    @include mobile {
      display: none;
    }
  }
  @include mobile {
    left: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: auto;
  }

  &.active {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    height: 100%;
    width: 80%;
    left: 0;
    // transition: 0.8s ease-in-out;
    z-index: 8;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: all 500ms linear;
    @include mobile {
      display: none;
    }
  }

  & > li {
    // margin-top: 30px;

    position: relative;
    cursor: pointer;

    font-size: 15px;
    font-weight: 500;

    z-index: 1;
    width: 150px;
    margin-right: 15px;

    color: #252a2b;

    @include mobile {
      padding: 0.5rem;
      // background: red;
      width: 100px;
    }
    @include tablet {
      padding: 1rem;
    }
    &:hover {
      color: red;
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      height: 2px;
      right: 100%;
      bottom: 0;
      background: #f94c43;
    }
    &:hover::before {
      right: 20%;
      transition: 0.5s ease-in-out;
    }
    & > span {
      // font-weight: 600;
      // font-size: 18px;
      // display: block;
      font-size: 15px;
      font-weight: 400;
      // padding: 10px 0 15px;
      margin: 0 25px 0 0;
      position: relative;
      @include mobile {
        font-weight: 500;
        font-size: 15px;
      }
    }

    @include mobile {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .dropdown {
      position: absolute;
      display: none;
      transition: 5s ease-in;
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      @include mobile {
        display: none;
        // transform: translateY(-200%);
        // transition: 5s ease-in;
        left: 0;
        right: 0;
        position: absolute;
        top: 100%;
        background: white;
        color: black;
        width: 150%;
      }
      & > li {
        cursor: pointer;
        padding-top: 1.5rem;

        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: #252a2b;
        @include mobile {
          padding-top: 1rem;
          padding-left: 1.5rem;
          padding-bottom: 1rem;
          justify-content: flex-start;
          &:hover {
            background: rgb(243, 242, 242);
          }
          &:hover > a {
            transform: translateX(5px);
            // transition: 0.3s ease-in;
            color: #f94c43;
          }
        }

        // & > a {
        //   display: block;
        //   font-size: 15px;
        //   font-weight: 400;
        //   // padding: 10px 0 15px;
        //   margin: 0 25px 0 0;
        //   position: relative;
        // }
      }
      // & > li:last-child {
      //   margin-bottom: 2rem;
      // }
      & > li:not(:last-child) {
        border-bottom: 0.5px solid rgb(228, 223, 223);
      }
    }
    // background-color: red;

    // @include tablet{
    //   margin-top: 15px;
    //   margin-bottom: 20px;
    // }
    &:hover .dropdown {
      display: contents;
    }
    @include mobile {
      &:hover .dropdown {
        display: block;
        height: auto;

        // transition: 5s ease-in-out;
        animation: rotateMenu 700ms ease-in-out forwards;
        transform-origin: top center;
        @keyframes rotateMenu {
          0% {
            transform: rotateX(-90deg);
          }
          70% {
            transform: rotateX(20deg);
          }
          100% {
            transform: rotateX(0deg);
          }
        }
      }
    }
  }
  // & > li:not(:last-child) {
  //   border-bottom: 1px solid gray;
  // }
}
.activeMenu {
  @include mobile {
    position: absolute;
    top: 0%;
    left: 45%;
    transform: translateX(-50%);
    border: none;
  }
  @include tablets {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
  @include tablet {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    border: none;
  }
  & > li {
    @include mobile {
      width: 75px;
      padding: 0.8rem;
    }
    @include tablets {
      width: 90px;
    }
    @include tablet {
      width: 100px;
      padding: 1rem;
    }
  }
}
