@use "./../../../sass/"as *;

.description_glass{
    @include tablet{
        width: 80%;
        margin: auto;
   
      }
      .detail_glass{
        width: 95%;
        // margin: auto;
        margin-bottom: 80px;
        margin: auto;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
     
            &-left{
                @include tablets{
                    flex: 1;
                //  width: ; 
                  }
                @include tablet{  
    flex: 1;
                }
            }
            &-right{
                @include tablets{
                    flex:1;
              
                    margin-left: 38px;
                    margin-right: 10px;
                  }
                @include tablet{
                    flex: 1;
              
               
                  }
            }
            @include tablets{
                display: flex;
                flex-direction: row;
                
            }
        @include tablet{
          
    display: flex;
    justify-content: flex-start;
            margin-bottom: 120px;
        }
        }
    .evaluate{
          margin-bottom: 110px;
          display: flex;
    margin: auto;
    justify-content: center;
    &_title{
       
font-size: 18px;
padding: 2rem 2rem 0rem 2rem;
// background: red;
position: relative;
margin-left: 50px;
@include tablets{
    padding: 2rem 2rem 0rem 1rem;
}
      &::before{
content: "";
position: absolute;
width: 0; 
height: 0; 
left: -2%;
margin-top: -10px;
border-top: 20px solid transparent;
border-bottom: 20px solid transparent;

border-left: 20px solid gray;
      }
    
    }
          &_content{
            font-size: 14px;
            padding: 2rem;
           
                & > p{
                    text-align: justify;
                    margin-bottom: 1rem;
                 
                
               
              }
              &-image{
                  width:auto;
                  margin: auto;
                  margin-bottom: 1rem;
              }
              &-info{
                  margin-bottom: 2rem;
                  & > ul{
                      text-align: justify;
                  }
              }
          }
      }
 &-title{
          padding: 1.2rem;
          background-color: whitesmoke;
          width: 100%;
          margin-bottom: 2rem;
          font-size: 13px;
          line-height: 1.4;
          font-weight: 300;
          font-family: 'Quicksand', sans-serif;
      }
   
    .related_glass{
     
   
 width: 95%;
       margin: auto;
         & > h2{
             text-align: center;
             font-size: 35px;
             font-weight: 400;
             color: #000;
             margin-bottom: 80px;
        }
        .slider {
            width: 100%;
            display: flex;
            .slick-list {
                & > button{
                    display: none;
                }
                // &.slick-next{
                //     display: none;
                  
                // }
              
                  
            }
           

        }
  
        .sidess{
          
            display:flex;
            flex-direction: column;
           
         
            .content{
             
                display: flex;
                flex-direction: column;
                 
          
        
            
                .content__top{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 2rem;
          
                  
                    
          &-name{
         margin-top: auto;
              text-align: center;
        
              
font-size: 13px;
// padding: 0 0 1.5rem 0;
width:100%;// chiều rộng bằng khối bao nó
white-space: pre-wrap; 
overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
-webkit-line-clamp: 2;// số dòng muốn hiển thị
-webkit-box-orient: vertical;
 display: -webkit-box;
 height: 50px;
 @include mobile{
    height: 60px;
 }
 @include tablets{
    width:100%;// chiều rộng bằng khối bao nó
    white-space: pre-wrap; 
    overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
    text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
    -webkit-line-clamp: 1;// số dòng muốn hiển thị
    -webkit-box-orient: vertical;
     display: -webkit-box;
    
 }

         @include tablet{
         height: 50px;
         width:100%;// chiều rộng bằng khối bao nó
         white-space: pre-wrap; 
        //  overflow: ; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
         text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
         -webkit-line-clamp: 2;// số dòng muốn hiển thị
         -webkit-box-orient: vertical;
          display: -webkit-box;
         }
}
                }
                .content__bottom{
                   display: flex;
                   flex-direction: column;
                   flex: 1;
             
             
                //    @include mobile{
                //     padding: 0rem 2rem ;
                //    }
                   @include tablet{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    padding: 1.5rem;
                   }
                  &-prices{
                 padding: 0 2rem;
                    text-align: center;
                    display: flex;
                       justify-content: center;
                    //    @include mobile{
                    //     display: inline-flex;
                    //     justify-content:flex-start;
                
                    //    }
                @include tablet{
                    margin-top: auto;
                }

                    .content__bottom-prices-price{
                      
                     color: #f94c43;
                     font-weight: bold;
                 font-size: 14px;
                 text-decoration: underline;
                     }
                     .content__bottom-prices-discount{
                         margin-left: 1rem;
                       font-size: 13px;
                       display: flex;
                       flex-wrap: wrap;
                      & >div:first-child{
                         color: #939393;
                         text-decoration: line-through;
                      }
                       & > div:last-child{
                           text-decoration: none;
                           display: inline-flex;
                       margin-left: 5px;
                           font-size: 11px;
                           margin-bottom: 2rem;
                       }
                     }
                  }
                 
                }
            }
        }      
        
        // &-image img{
        // width:100%;
        // height: 250px;
      
        // }
        // &-images{
        // position: absolute;
        // bottom: 0;
        // height:70px ;
        // width: 100%;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // background-color: white;
        // margin-left: 10px;
        // // top: 100%;
        // // margin-top: 10px;
        // & >img{
        //   width: 50px;
        //   height: 50px;
        // }
        // }
            }
        
  

}


// .slick-next{
//     display: none;
  
// }
    .slick-prev:before{
font-size: 30px;
color: black;

    }
    .slick-next:before {
        font-size: 30px;
        color: black;
    }
    // .slick-prev{
    //     z-index: -1;
    // }
    // .slick-next{
        
    //     z-index: -1;
      
    // }
//   .slick-slide{
//    @include tablets{
//     margin-left:10px;
//    }
//   }
  .slick-slide img{
height: 250px;
flex-shrink: 0;
object-fit: 0;
@include mobile{
    width:calc(100% - 20px) ;
    height: 350px;
    flex-shrink: 0;
    object-fit: 0;
}
  
  }
  .slick-arrow {
      margin-right: 50px;
      margin-left: 30px;
z-index: 1;
  }
