@use "./../../../sass/"as *;
.product{
    &_title{
        width: 100%;
         display: inline-block;
         padding: 1rem;
        background-color: whitesmoke;
        
        & > span{
           font-size: 13px
        }
    }
    @include tablet{
        width: 80%;
        margin: auto;
    }
    & > h2{
        text-align: center;
        padding: 3rem 0 3rem 0;
   
        font-size: 25px;
   margin: auto;
    }
    .content{
        @include tablet{
           
            display: flex;
        }
        &_left{
            height: 110px;
            margin-bottom: 13rem;
       @include tablet{
           flex: 1;
           margin-bottom: 3rem;
       }
            &-trousers{
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 95%;
                margin: auto;
                @include tablets{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
                @include tablet{
                    display: flex;
                    flex-direction: column-reverse;
                }
                &-left{
                    flex: 1;
                    & > h3{
                       @include tablet{

                        padding: 3rem 2rem 1rem 2rem;
                        font-size: 15px;
                       }
                    }
                }
                &-right{
                    flex: 1;
    justify-content: flex-end;
    align-items: center;
    display: flex;

                    @include tablet{
                        justify-content: flex-start;
                        width: 100%;
                        margin-bottom: 40px;
                    }
                }
            }
        }
        &_right{
            @include tablet{
                flex: 4;
            }
            .paginations{
                display: flex;
                justify-content: center;
            }
        }
    }
}