@use './../../sass/index.scss' as *;
.customers {
  margin: 0 auto;

  .customers_title {
    font-size: 25px;
    font-weight: 600;

    margin-bottom: 30px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
  @include tablets {
    margin: 0 30px;
  }
  .customers_block {
    box-shadow: 1px 1px 3px 0 rgb(0 0 0 / 40%), inset 0 1px 0 0 hsl(0deg 0% 100% / 10%);

    overflow: auto;

    display: flex;
    flex-direction: column;

    &::-webkit-scrollbar {
      display: none;
    }
    .customers__swapper {
      border-radius: 10px;
      background: white;

      padding: 10px;

      min-width: 700px;
      overflow-x: scroll;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
      .customers__top {
        padding: 10px;

        background-color: #fbfafb;

        display: flex;

        & > span {
          flex: 1;

          font-size: 14px;
          font-weight: 600;
        }
      }

      .customers__content {
        .customers__list {
          padding: 10px;
          .customers__item {
            display: flex;

            font-size: 14px;

            padding: 10px;
            cursor: pointer;

            color: #5a5b5d;

            column-gap: 10px;

            &:hover {
              background: #2790f2;
              color: white;
            }

            .customers_index,
            .customers_spend {
              font-weight: 600;
              color: black;
            }

            .customers_index,
            .customers_name,
            .customers_email,
            .customers_order,
            .customers_spend {
              flex: 1;
            }
          }
        }
      }
    }

    .customers_pagination {
      margin-left: auto;

      margin-bottom: 20px;

      margin-right: 20px;
    }
  }
}
