@use './../../../sass/index.scss' as *;
.update {
  display: flex;
  flex-direction: column;

  row-gap: 50px;

  width: 100%;
  &__top {
    display: flex;
    flex-direction: column;

    column-gap: 50px;

    row-gap: 30px;

    @include tablet {
      flex-direction: row;
    }
    .update__top-left {
      flex: 1.5;

      min-height: 300px;

      display: flex;
      column-gap: 10px;

      box-shadow: 0 7px 24px rgb(0 0 0 / 9%);
      border-radius: 10px;
      background-color: #fff;
    }
    .update__top-right {
      flex: 1;

      box-shadow: 0 7px 24px rgb(0 0 0 / 9%);
      border-radius: 10px;
      background-color: #fff;

      .update__right-block {
        padding: 40px 40px;

        .update__right-top {
          display: flex;
          align-items: center;
          column-gap: 10px;

          margin-bottom: 10px;

          .update__top-adside {
            max-width: 60px;
            max-height: 60px;

            & > img {
              border-radius: 50%;
            }
          }

          .update__top-name {
            font-size: 14px;
            font-weight: 600;
          }
        }
        .update__right-bottom {
          font-size: 14px;
          .update__top-group {
            display: flex;
            justify-content: space-between;

            & > span:first-child {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .update__bottom {
    display: flex;

    flex-direction: column;

    box-shadow: 0 7px 24px rgb(0 0 0 / 9%);
    border-radius: 10px;
    background-color: #fff;

    padding: 20px;

    @include tablet {
      justify-content: space-between;

      flex-direction: row;
    }

    .update__form {
      &-title {
        font-size: 20px;
        font-weight: 600;

        margin-bottom: 20px;
      }
      .update__bottom-group {
        margin-bottom: 15px;

        display: flex;
        flex-direction: column;

        .update__image--list {
          display: flex;

          column-gap: 10px;

          .update__image {
            flex-basis: 25%;
            & > img {
              height: 150px;
            }
          }
        }
        & > textarea {
          height: 80px;
        }

        & > label {
          font-size: 14px;
          font-weight: 600;

          margin-bottom: 10px;

          display: flex;
          align-items: center;

          & > span {
            font-weight: 700;
          }
          .update__file {
            padding: 10px;

            background: blue;

            color: white;
          }
          & > strong {
            color: rgb(164, 20, 20);
          }
        }
        #file {
          display: none;
        }
        #files {
          display: none;
        }
        & > input {
          width: 100%;
          height: 40px;

          border-radius: 5px;

          padding-left: 15px;

          border: 1px solid gray;

          @include tablet {
            width: 350px;
          }
        }
      }
    }

    .update__btn {
      .update__btn-block {
        padding: 30px;

        .update__adside {
          display: flex;
          align-items: center;

          column-gap: 15px;

          margin-bottom: 40px;

          & > svg {
            font-size: 25px;
          }

          & > img {
            width: 200px;
            height: 200px;

            border-radius: 10px;
          }
        }

        .btn__update {
          & > button {
            width: 100%;

            padding: 10px;

            color: white;

            background: rgb(11, 11, 115);

            border: none;

            border-radius: 7px;

            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}
