@use './../../../sass/' as *;
.notification {
  .notification_list {
    // @include mobile{

    //    overflow: auto;
    // }
    // @include tablets{

    //    overflow: auto;
    // }
    max-height: 2;
    .notification_item {
      display: flex;
      margin-bottom: 1.5rem;

      .notification_image {
        flex: 2;

        overflow: hidden;
        cursor: pointer;
        width: 80%;

        transform: scale(0.9);

        transition: 300ms ease-in-out !important;
        @include mobile {
          width: 100%;
          flex: 1;
        }
        & > img {
          height: 200px;
          object-fit: cover;
        }
        &:hover {
          transform: scale(1);
        }
      }
      .notification_content {
        flex: 2;
        margin-left: 20px;

        & > div {
          text-align: justify;
          width: 100%; // chiều rộng bằng khối bao nó
          white-space: pre-wrap;
          overflow: hidden; // ẩn các nội dung khi kích thước lớn hơn chiều rộng khối bên ngoài
          text-overflow: ellipsis; //thêm 3 dấu chấm ở cuối
          -webkit-line-clamp: 5; // số dòng muốn hiển thị
          -webkit-box-orient: vertical;
          display: -webkit-box;
        }
      }
    }
  }
}
//
.address {
  .address_title {
    text-align: center;
    cursor: pointer;
    & > p {
      padding: 1rem;
      background: rgb(56, 130, 182);
    }
  }
  .address_list {
    .address_item {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
      .address_name,
      .address_phone,
      .address_email,
      .address_add,
      .address_city {
        & > span:first-child {
          font-weight: 600;
          font-size: 18px;
        }
        & > span:last-child {
          font-size: 16px;
        }
      }
      & > button {
        margin-left: auto;
        right: 0;
        padding: 1rem;
        border: none;
      }
    }
  }
}
